tomli~=2.2.1
tomli_w~=1.2.0
termcolor~=2.5.0
pydantic~=2.10.4
pydantic-settings~=2.7.1
pytest~=8.3.4
coverage~=7.6.10
pytest-cov~=6.0.0
pytest-timeout~=2.3.1
pytest-benchmark~=5.1.0

# The next version (0.9.3) I tried had broken support for asctime in the formatter
# IDK about 0.9.2
# OK, new comment here, picologging 0.9.1 and 0.9.2 are causing segfaults when exiting the program. Ugh.
# So, until a new version is released and tested, we can't use this lib. A shame.
# Version 0.9.4 is on Github for 2 weeks, but is not on pypi
# picologging==0.9.2 